*{
    padding: 0;
    margin: 0;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(237, 237, 237);
}
.header{
    width: 100%;
    height: 10vh;
    background-color: transparent;
    position: fixed;
    z-index: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
   }
.bi-arrow-left-short{
    font-size: 17px;
}
h4 > a{
    font-size: 15px;
    background-color: black;
    color: white;
    padding: 10px 10px;
    border-radius: 20px;
    text-decoration: none;
    box-shadow: 3px 3px 7px 3px rgba(0, 0, 0, 0.3);
}
h5{
    font-size: 45px;
    color: white;
    padding-right: 500px;
}
.bi-cart3{
    color: white;
}
main{
    float: left;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    z-index: 1;
   
}
.one{
    float: left;
    width: 35%;
    height: 100vh;
    background-image: url(/images/pexels-maria-orlova-4940756.jpg);
    background-size: cover;
}
.content{
    height: 100vh;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.two{
  width: 65%;
  height: 470px;
  border-radius: 20px;  
  margin-top: 50px;  
  margin-left: 5%;
  background-color: white;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);
}
.con{
    width: 90%;
   margin: 0 auto;
}
p{
    text-align: center;
    font-size: 30px;
    color: black;
    padding-top: 25px;
    padding-bottom: 25px;
}
input{
    box-sizing: border-box;
    width: 45%;
    height: 45px;
    border: transparent solid;
    border-radius: 5px;
    outline: none;
    margin-bottom: 20px;
    font-size: 14px;
    margin-left: 2.5%;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
    padding-left: 4px;
}
.name{
    width: 100%;
}
button{
    width: 25%;
    height: 50px;
    font-size: 19px;
    margin-top: 15px;
    background-color: black;
    border: 2px black solid;
    border-radius: 40px;
    margin-left: 37.5%;
    margin-bottom: 20px;
}
button:hover{
    box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.3);
}
button > a{
    color: white;
    text-decoration: none;
}
.sign{
    border-top: 1px solid royalblue;
    font-weight: 500;
    color: #555;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}
.sign a{
    color: royalblue;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: none;
}
.sign p:hover{
    text-decoration: none;
    color: #000;
}
.sign a:hover{
    text-decoration: underline;
    color: burlywood;
}
@media(max-width: 900px){
    .container{
        width: 100%;
        height: 105vh;
        display: flex;
        background-image: url(/images/pexels-leticia-ribeiro-2112651.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .header{
        width: 100%;
        height: 12vh;
        position: fixed;
        background-color: transparent;
        z-index: 3;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }   
    h4 > a{
        font-size: 15px;
        color: white;
        background-color: black;
        padding: 10px 10px;
        border-radius: 20px;
        text-decoration: none;
        box-shadow: 3px 3px 7px 3px rgba(0, 0, 0, 0.3);
    }
    h5{
        font-size: 35px;
        color: black;
        padding-right: 250px;
    }
    main{
        display: flex;
        width: 100%;
        height: 100vh;
        z-index: 1;
    }
    .one{
        display: none;
    }
    .content{
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3vh; 
    }
    .two{
      width: 80%;
      height: 600px;
      border-radius: 20px;  
      margin-left: 2%;
      margin-right: 2px;
     }
    .con{
        width: 100%;
        margin: 0;
    }
    p{
        text-align: center;
        font-size: 25px;
        color: black;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    input{
        box-sizing: border-box;
        width: 95%;
        height: 40px;
        border: transparent solid;
        border-radius: 3px;
        outline: none;
        margin-bottom: 20px;
        font-size: 14px;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
      }
    button{
        width: 20%;
        height: 40px;
        font-size: 19px;
        margin-top: 5px;
        margin-left: 40%;
        margin-bottom: 20px;
    }
    button:hover{
        box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.3);
    }
}
@media(max-width: 760px){
    .container{
        width: 100%;
        height: 689px;
        display: flex;
        background-image: url(/images/pexels-godisable-jacob-914668.jpg);
        background-size: cover;
        background-repeat: no-repeat;
       
    }
    .header{
        width: 100%;
        height: 12vh;
        position: fixed;
        z-index: 3;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    h5{
        font-size: 35px;
        color: black;
        padding-right: 200px;
    }
    h4 > a{
        color: #000;
        background-color: white;
    }
    .bi-cart3{
        color: black;
    }
    main{
        display: flex;
        width: 100%;
        height: 100vh;
        z-index: 1;
    }
    .one{
        display: none;
    }
    .content{
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3vh; 
    }
    .two{
      width: 60%;
      height: 580px;
      border-radius: 20px;  
      margin-left: 2%;
      margin-right: 2px;
      background-color: white;
      box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);
      margin-top: 7vh; 
    }
    .con{
        width: 100%;
        margin: 0;
    }
    p{
        text-align: center;
        font-size: 22px;
        color: black;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    input{
        box-sizing: border-box;
        width: 88%;
        height: 50px;
        border: transparent solid;
        border-radius: 3px;
        outline: none;
        margin-bottom: 10px;
        font-size: 14px;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
        margin-left: 6%;
      }
    button{
            width: 40%;
            height: 40px;
            font-size: 19px;
            margin-top: 5px;
            margin-left: 30%;
            margin-bottom: 10px;
        }
 }
@media(max-width: 600px){
    .container{
        width: 100%;
        height: 689px;
        display: flex;
        background-image: url(/images/pexels-godisable-jacob-914668.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .header{
        width: 100%;
        height: 10vh;
      }
      h5{
        font-size: 35px;
        color: black;
        padding-right: 200px;
    }

    main{
        display: flex;
        width: 100%;
        height: 100vh;
       }
    .content{
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1vh; 
    }
    .two{
      width: 80%;
      height: 380px;
      border-radius: 20px;  
      margin-left: 2%;
      margin-right: 2px;
      background-color: white;
      box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);
      margin-top: 7vh; 
    }
    .con{
        width: 100%;
    }
    p{
        text-align: center;
        font-size: 22px;
        color: black;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    input{
        box-sizing: border-box;
        width: 88%;
        height: 50px;
        border-radius: 3px;
        margin-bottom: 10px;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
        margin-left: 6%;
      }
    button{
            width: 40%;
            height: 40px;
            margin-top: 5px;
            margin-left: 30%;
            margin-bottom: 10px;
        }
  }
  