* {
  padding: 0;
  margin: 0;
}
body {
  background-image: url(./images/r1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
h5 {
  text-align: center;
  font-size: 55px;
  color: black;
  padding-top: 40px;
}
.bi-cart3 {
  color: black;
}
.two {
  width: 60%;
  height: 600px;
  background-color: rgb(230, 230, 230);
  border-radius: 20px;
  margin-top: 8%;
  margin-left: 20%;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  color: white;
}
p {
  text-align: center;
  font-size: 30px;
  color: black;
  padding-top: 25px;
  padding-bottom: 35px;
}
.name,
.con {
  width: 94%;
  margin-left: 3%;
}
input {
  box-sizing: border-box;
  width: 42.2%;
  height: 60px;
  padding-left: 15px;
  border: transparent;
  border-radius: 10px;
  margin-bottom: 20px;
  outline: none;
  background-color: transparent;
  font-size: 18px;
  color: black;
  margin-left: 5%;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
}
.top {
  width: 90%;
  margin-left: 5%;
}
button {
  width: 20%;
  height: 60px;
  font-size: 19px;
  margin-top: 20px;
  background-color: black;
  border: black 2px solid;
  border-radius: 30px;
}
button > a {
  color: white;
  text-decoration: none;
  font-size: 26px;
}
.down {
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bi-arrow-left-short {
  font-size: 17px;
}
h4 > a {
  font-size: 15px;
  color: black;
  background-color: white;
  padding: 10px 10px;
  border-radius: 20px;
  text-decoration: none;
  box-shadow: 3px 3px 7px 3px rgba(0, 0, 0, 0.3);
}
